@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;

        --radius: 0.5rem;

        --sidebar-background: 0 0% 100%;
        --sidebar-foreground: 222.2 84% 4.9%;
        --sidebar-primary: 221.2 83.2% 53.3%;
        --sidebar-primary-foreground: 210 40% 98%;
        --sidebar-accent: 210 40% 96.1%;
        --sidebar-accent-foreground: 222.2 47.4% 11.2%;
        --sidebar-border: 214.3 31.8% 91.4%;
        --sidebar-ring: 221.2 83.2% 53.3%;
    }

    .dark {
        --background: 0 0% 5%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 217.2 91.2% 59.8%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 224.3 76.3% 48%;

        --sidebar-background: 0 0% 4%;
        --sidebar-foreground: 210 40% 98%;
        --sidebar-primary: 217.2 91.2% 59.8%;
        --sidebar-primary-foreground: 222.2 47.4% 11.2%;
        --sidebar-accent: 217.2 32.6% 17.5%;
        --sidebar-accent-foreground: 210 40% 98%;
        --sidebar-border: 0 0% 32%;
        --sidebar-ring: 0 0% 15%;
    }
}

.shiki {
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* For next-themes dark mode support */
:root {
    --shiki-color-text: #24292e;
    --shiki-color-background: transparent;
}

.dark {
    --shiki-color-text: #c9d1d9;
    --shiki-color-background: transparent;
}

.dark .shiki,
.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}

.shiki code {
    counter-reset: step;
    counter-increment: step 0;
}

.shiki code .line {
    position: relative;
    padding-left: 0.5rem;
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.custom-bubble {
    container-name: bubble;
    width: 100%;
    background-color: #e3e3e3;
    padding: 20px;
    border-radius: 24px;
}

.bubble-inner {
    background-color: #eeeeee;
    border-radius: 14px;
    /* padding-bottom: 40px; */
    position: relative;
}

.avatar-container {
    display: inline-block;
    padding: 20px;
    background-color: #e3e3e3;
    border-radius: 14px;
    float: right;
    margin-top: -15px;
    margin-right: -15px;
    position: relative;
    margin-bottom: 15px;
}

.avatar-container::before,
.avatar-container::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    background: #e3e3e3;
    width: 15px;
    height: 15px;
}

.avatar-container::before {
    right: 80px;
    bottom: 50px;
}

.avatar-container::after {
    right: 15px;
    bottom: -15px;
}

.message-content {
    position: relative;
    padding: 14px;
    z-index: 5;
}

/* Avatar decorative elements */
.avatar-container .avatar::before,
.avatar-container .avatar::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    background: #eeeeee;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    z-index: 2;
}

.avatar-container .avatar::before {
    right: 80px;
    bottom: 40px;
}

.avatar-container .avatar::after {
    right: 15px;
    bottom: -25.5px;
}

.short-bubble .avatar-container .avatar::after {
    display: none;
}

.godrays {
    background-image: url('/godrays.png');
    background-size: cover;
    background-position: center;
}


.godrays-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 100%;
    width: 100%;
    height: 20vh;
    min-height: 200px;
    mix-blend-mode: lighten;
    background: linear-gradient(280deg, #03f241, #d549dd, #03e5f2, #03f241);
    background-size: 400% 400%;
    animation: aurora-overlay 15s ease infinite;
}

@keyframes aurora-overlay {
    0% {
        background-position: 0 94%;
        -webkit-backdrop-filter: saturate(1.5);
        backdrop-filter: saturate(1.5);
    }
    50% {
        background-position: 70% 7%;
        -webkit-backdrop-filter: saturate(1.5) hue-rotate(100deg);
        backdrop-filter: saturate(1.5) hue-rotate(100deg);
    }
    100% {
        background-position: 0 94%;
        -webkit-backdrop-filter: saturate(1.5);
        backdrop-filter: saturate(1.5);
    }
}
